#Laravel/PHP
/geo/geo_back/vendor/
/geo/geo_back/build/
/geo/geo_back/.env
/geo/geo_back/.env.*
/geo/geo_back/storge/*.key
/geo/geo_back/node_modules/
/geo/geo_back/.phpunit.result.cache
/geo/geo_back/Homestead.json
/geo/geo_back/Homestead.yaml

#React/Node
/geo/geo_front/node_modules/
/geo/geo_front/build/
/geo/geo_front/dist/
/geo/geo_front/.env
/geo/geo_front/.env.local
/geo/geo_front/.env.*.local
/geo/geo_front/.env.development.local
/geo/geo_front/.env.test.local
/geo/geo_front/.env.production.local

#Socket-server (Node)
/geo/socket-server/node_modules/
/geo/socket-server/.env

#Logs
*.Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
