/* Container principal */
.header-superviseur {
  min-height: 100vh;
  background: linear-gradient(135deg,  navajowhite 0%, #75deb3 100%);
  /*background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
  padding: 20px;
}

.container {
    margin-top: 100px;
}

/* Spinner de chargement */
.spinner-grow.text-primary {
  border-color: #007bff;
  border-right-color: transparent;
}

/* CSS inline pour forcer l'affichage tableau sur mobile */
 @media (max-width: 768px) {
    .mobile-table {
        min-width: 500px; /* Force une largeur minimale */
    }
    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .mobile-table th,
    .mobile-table td {
        white-space: nowrap;
        padding: 8px 4px;
        font-size: 0.85rem;
    }
    }