.activite-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: navajowhite;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  min-height: 73vh;
  margin-top: 65px;
}

.activite-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

section h3 {
  color: #2c3e50;
  margin-bottom: 10px;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

p {
  font-style: italic;
  color: #888;
}
